[submodule "camera/indi"]
	path = camera/indi
	url = https://github.com/indilib/indi.git
[submodule "gps/BerryIMU"]
	path = gps/BerryIMU
	url = https://github.com/ozzmaker/BerryIMU.git
[submodule "libcamera"]
	path = libcamera
	url = https://git.libcamera.org/libcamera/libcamera.git
[submodule "motor/pigpio"]
	path = motor/pigpio
	url = https://github.com/joan2937/pigpio.git
